.btn-video {
	display: none;
}

.table-list .table-title {
	font-size: 14px;
}

.road-info .road-collection .wrapper {
	width: 90%;
}

.road-info .road-collection .status {
	width: 10%;
}

.road-info .road-collection .wrapper .canvas {
	width: 700px;
	height: 100%;
	float: left;
}