@charset "utf-8";

.road-info .road-collection {
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	display: none;
	position: relative;
	background: #838282;
}

.road-info .road-collection .wrapper {
	width: 96%;
	height: 100%;
	float: left;
	overflow-x: auto;
	overflow-y: hidden;
}

.road-info .road-collection .status {
	float: left;
	width: 4%;
	height: 100%;
	background-size: cover;
	background-size: 100% 100%;
}

.road-info .road-collection.current {
	display: block;
}

.road-info .road-collection .road-map {
	position: absolute;
	left: 500px;
}

.road-one .status {
	background-image: url(../img/road/point.png);
}

.road-two .status {
	background-image: url(../img/road/point2.png);
}

.road-three .status {
	background-image: url(../img/road/point3.png);
}

.road-four .status {
	background-image: url(../img/road/point4.png);
}