body {
	background: #201308;
	color: #fff4f0;
	font-size: 14px;
	margin: 0px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.hall-content {
	overflow-y: scroll;
}

.logo {
	background: url(../img/logo-icon.png) no-repeat center center;
}

.house-item .btn{
	padding: 5px;
	border: 1px solid #573A2F;
	border-left: 40px solid transparent;
	border-right: 25px solid transparent;
	border-top-left-radius: 5em 5em;
	border-bottom-left-radius: 2em 0.5em;
	font-size: 20px;
	font-weight: bold;
}

.house-item.current .btn{
	padding: 5px;
	border: 2px solid #578A2F;
	border-left: 40px solid transparent;
	border-right: 25px solid transparent;
	border-top-left-radius: 5em 5em;
	border-bottom-left-radius: 2em 0.5em;
	font-size: 22px;
	font-weight: bold;
}

.table-item {
	margin: 5px;
	color: #AD8562;
	font-weight: bold;
}

.table-item span {
	padding-left: 10px;
}

.table-item v {
	padding-left: 10px;
	color: #E6DE27;
}

.btn-play {
	color: #B28B64;
}

.btn-play ic {
	color: #9A1811;
	padding-right: 5px;
}
