html {
	background: url(../img/jinbao/gamehall_background.png) no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.game-item {
	float: left;
	width: 50%;
	height: 80%;
	background-size: cover;
	position: relative;
	text-align: center;
}

@media ( orientation :portrait) {
	.game-item {
		width: 100%;
		height: 45%;
	}
}

.game-item img {
	height: 100%;
}

.game-title {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0px;
}

.game-title img {
	height: 100%;
}
/**
.baccarat {
		background: url(../img/jinbao/hall_button_baccarat.png) no-repeat center
			center;
}

.baccarat .game-title {
	background: url(../img/jinbao/hall_button_text_baccarat.png) no-repeat
		center center;
}

.dragontiger {
	background: url(../img/jinbao/hall_button_dragontiger.png) no-repeat
		center center;
}

.dragontiger .game-title {
	background: url(../img/jinbao/hall_button_text_dragontiger.png)
		no-repeat center center;
}
**/